.logo{
    text-align: center;
    margin-top:200px;
    position: relative;
}
.search{
    text-align: center;
    padding: 20px;
    position: relative;
   
    
}
.search input{
    width: 60%;
    border-radius: 25px 25px 25px 25px;
    background: url(images/glass.png);
    background-repeat: no-repeat;
    background-position: 10px;
    text-indent: 40px;
    padding: 10px;
    
}
.butt{
    text-align: center;
    padding:10px;
}
.butt2{
    text-align: center;
    padding:10px;
    
}
.phone{
    text-align:center;
    font-size:11px;
    
    
}
.phone a{
    text-decoration: none;
}
.about{
    padding:10px;
    
}
li {
    display: inline;
   margin-right:10px;
    
    
    
}
li a{
    text-decoration:none;
    color: black;
    font-size:13px;
    
    
}
.icon{
    margin-bottom: 30px;
    
}
.lists{
    margin-top:30px;
}
#main-footer{
    background-color: lightgray;
    padding: 0px;
   bottom: 0;
   position: fixed;
   width:100%;
}
.wrapper{
    position: static;
   
}    
